{
  "extends": "airbnb",
	"settings": {
		"import/core-modules": [
			"meteor",
			"meteor/apollo",
			"meteor/check",
			"meteor/http",
			"meteor/meteor",
			"meteor/mongo",
			"meteor/promise",
			"meteor/react-meteor-data",
			"meteor/session",
			"meteor/webapp"
		]
	},
  "rules": {
		"arrow-parens": ["error", "always"],
		"consistent-return": 0,
		"function-paren-newline": 0,
		"import/prefer-default-export": 0,
		"indent": ["error", "tab"],
		"jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
		"jsx-a11y/href-no-hash": "off",
		"jsx-a11y/label-has-for": 0,
		"jsx-a11y/no-autofocus": 0,
		"max-len": "off",
		"newline-before-return": "error",
		"no-tabs": 0,
		"no-underscore-dangle": 0,
		"object-curly-newline": 0,
		"react/jsx-filename-extension": [1, { "extensions": [".js"] }],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/prop-types": 0,
		"semi": 0
  },
	"env": {
		"browser": true,
		"node": true
	}
}
